*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 30px
}
.heroHeader{
   font-family: sans-serif;
   font-size: clamp(1.3rem, 3vw, 1.6rem);
   font-weight: 600; 
   color: #005236;

}
.heroText{
   font-family: sans-serif;
   font-size: clamp(1rem, 3vw, 1.5rem);
   font-weight: 400; 
   color:#78998e;
}