.appWrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 30px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.header h1{
    font-family: sans-serif;
    font-size: clamp(1.5rem, 3vw, 1.5rem);
    color: #044c32;
}
.header p{
  font-family: sans-serif;
    font-size: clamp(1rem, 3vw, 1.3rem);
    color: #58856e;  
}
.formContainer{
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}
.btnContainer button{
    background-color: #005236;
    border: none;
    border-radius: 7px;
    padding: 7px 15px;
    color: white;
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: clamp(0.9rem, 3vw, 1.2rem);
   gap: 10px;
   font-weight: 600;
   width: 100%;
   cursor: pointer;
   transition: transform  0.3s ease-in-out, backgorund-color 0.3s ease-in-out;
}
.btnContainer button:hover{
    transform: scale(1.05);
    background-color: #0e281c;
}